<div class="w-100">
    <ul class="progress_bar">
        <li class="{% if active == "information" %}active{% endif %}">Facturation</li>
        <li class="{% if active == "colis" %}active{% endif %}">Colis</li>
        <li class="{% if active == "livraison" %}active{% endif %}">Livraison</li>
    </ul>
</div>